{% extends "__layout.twig" %}

{% block content %}
<div>
    <a href="?mode=image">Картинка</a> | <a href="?mode=description">Описание</a>
</div>

<div>
    {% if mode == 'image' %}
        <img src="{{ image }}" alt="{{ title }}">
    {% elseif mode == 'description' %}
        <p> {{ description }}</p>
    {% else %}
        <img src="{{ image }}" alt="{{ title }}">
        <p> {{ description }}</p>
    {% endif %}
</div>
{% endblock %}
